<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

<bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.url}"
    p:username="${jdbc.username}"
    p:password="${jdbc.password}" /-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

 

    <bean id="dataSource" 
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
        <property name="driverClassName" 
                  value="oracle.jdbc.OracleDriver" /> 
        <property name="url" 
                  value="jdbc:oracle:thin:@localhost:1521:XE" /> 
        <property name="username" value="hr" /> 
        <property name="password" value="hr" /> 
    </bean> 
 
    <bean id="sessionFactory" 
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"> 
        <property name="dataSource" ref="dataSource" /> 
        <!--property name="configLocation" value="classpath:hibernate.cfg.xml" /--> 
        <property name="annotatedClasses"> 
            <list> 
                <value>org.cdms.domain.User</value> 
            </list> 
        </property>         
        <property name="hibernateProperties"> 
            <props> 
                <prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop> 
                <prop key="hibernate.show_sql">true</prop> 
            </props> 
        </property>    
    </bean> 

    <!-- Configure HibenateTemplate -->
    
    <tx:annotation-driven /> 
 
    <bean id="transactionManager" 
          class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
        <property name="sessionFactory" ref="sessionFactory" /> 
    </bean> 
    <bean id="hibernateTemplate" 
          class="org.springframework.orm.hibernate3.HibernateTemplate"> 
        <property name="sessionFactory" ref="sessionFactory" /> 
    </bean> 
        
    <!--  Configure DAO objects  -->
    
    <bean id="userDao" 
          class="org.cdms.domain.dao.UserDaoImpl"> 
        <property name="hibernateTemplate" ref="hibernateTemplate" /> 
    </bean>     

    <!-- VALIDATION. Configure JSR-303 Validation -->
    
    <bean id="validatorFactory" class="javax.validation.Validation"
          factory-method="buildDefaultValidatorFactory"
     />

    <bean id="validator" factory-bean="validatorFactory"
          factory-method="getValidator" 
    />  
    
    <!-- Default Validation Handler based on constraint annotations -->
      
    <bean id="validationHandler" class="org.cdms.ValidationHandler">    
        <property name="validator" ref="validator" /> 
    </bean> 
        
    <!-- Default Exception Handler  -->
      
    <bean id="exceptionHandler" class="org.cdms.RemoteExceptionHandler"/>    
    
</beans>
